{% extends "page.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/ckanext-issues/style.css" />
{% endblock %}

{% block breadcrumb_content %}
    {{ h.nav_link(_('Datasets'), controller='package', action='search') }}
    <a href="{{ h.url_for(controller='package', action='read', id=c.pkg.name) }}" title="{{ c.pkg.title }}">{{ h.truncate(c.pkg.title, 60) }}</a>
    <a href="{{ h.url_for('issues_dataset', dataset_id=c.pkg.name) }}">{{ _('Issues') }}</a>
    {% block breadcrumb_item %}{% endblock %}
{% endblock %}

