{% ckan_extends "package/read_base.html" %}

{% block content_primary_nav %}
    {{ super() }}
    {% if h.issues_enabled(pkg) %}
        {% set cu=h.url_for(h.clean_url(h.current_url())) %}
        {% set tab_url=h.url_for('issues_dataset', dataset_id=pkg.id) %}
        <a class="custom-tab-header-item{% if cu == tab_url %} custom-tab-header-item-active{% endif %}" href="{{ tab_url }}">
            <div class="custom-tab-header-item-icon"><img src="/images/icn-propositions.svg" alt=""></div>
            <div class="custom-tab-header-item-title">
                {{ _('Issues') }}
                {% if h.issue_count(pkg) %} <span class="badge">{{ h.issue_count(pkg) }}</span>{% endif %}
            </div>
        </a>
    {% endif %}
{% endblock %}
